header {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    height: 80px;
}

.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed {
    width: 100vw;
    background: blue;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: -1;
}

.drop-down-menu {
    display: none;
}

.drop-down-menu-open {
    animation: openMenu .5s forwards linear;
}

.drop-down-menu-closed {
    animation: closeMenu .5s forwards linear;
}

@keyframes openMenu {
    from {
        top: -1000px;
    }
    to {
        top: 80px
    }
}

@keyframes closeMenu {
    0% {
        top: 80px;
    }
    100% {
        top: -1000px
    }
}

#site-nav {
    display: flex;
}

#site-nav li {
    list-style: none;
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

img {
    width: 50px;
    height: 50px;
    display: none;
}




@media (max-width: 700px) {
    img {
        display: block;
        transition: width 1s, height 1s;
    }

    img:hover {
        width: 75px;
        height: 75px;
    }

    .menu-text {
        display: none;
    }
}


